<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/d3API.js"></script>

Diablo 3
<div ng-app="MyApp" ng-controller="MyCtrl as myCtrl">
<div ng-view>
</div>
Server : <select ng-model="myServer" ng-options="server.name for server in servers"></select>
Battle Tag : <input ng-model="battleTag" placeholder="Enter your BattleTag" type="text" value="DianTW-3588"/>
<h1>
Hello {{battleTag}}!</h1>
<button ng-click="myCtrl.loadBattleTag()">
Load
</button>

<select ng-disabled="!selectedHero" ng-model="selectedHero" ng-options="heroe.name for heroe in profileData.heroes" ng-change="selectHero()"><option value="">-- 請選擇 Hero --</option></select>


<div ng-repeat="(key, value) in selectedHero">
{{key}} : {{value}}
</div>

<!--ng-repeat selectedHero end-->
=== hero data ===
<div style="display:none" ng-repeat="(key, value) in heroData">
{{key}} : {{value}}
</div>

<!--ng-repeat hero data end-->
=== item data ===
<div style="display:none" ng-repeat="(key, value) in itemAttrs">
{{key}} : {{value}}
</div>
<select  ng-disabled="!itemAttrs" ng-model="selectedAttr" ng-options="attrKey for (attrKey, attrValue) in itemAttrs" ng-change="drawAttr()"><option value="">show all</option></select>
<div class='draw' id='chart'>
</div>

</div>
<!-- ng-app end -->